
* { margin: 10 10 10 10; padding: 10 10 10 10; }
body { font: 14px/1.4 Georgia, serif; margin: 10px 10px 10px 10px; padding: 10 10 10 10;}
#page-wrap { width: 800px; margin: 0 auto; }


.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
}

.subcontainer {
    display: flex; /* or inline-flex */
    flex-direction: row;
}

.item {
    flex-grow: 1;
}

table{
    border-color: black;
}

table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
/* 
.skilltable { border-collapse: collapse; }
.skilltable tr { border: none; }
.skilltable td {
  border-right: solid 1px black; 
} */